{% load static %} <!-- Cargar etiquetas estáticas -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prueba</title>
    <!-- Enlazar archivo CSS -->
    <link rel="stylesheet" href="{% static 'LecheLog/style.css' %}">
</head>

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        
<h1>Detalles del Proveedor</h1>

<h2>Información del Proveedor</h2>
<p>Nombre: {{ detalles.name }}</p>
<p>Email: {{ detalles.email }}</p>

<h3>Litros de Leche</h3>
<table class="table table-striped table-dark">
  <thead>
    <th>Litros</th>
    <th>Fecha</th>
  </thead>

  {% for litro in detalles.litros %}
</div>
    </td>
    <td>{{ litro.litros_leche }}</td>
    <td>{{ litro.fecha_leche }}</td>
  </tr>

  {% endfor %}

</table>


<h3>Pagos</h3>
<table class="table table-striped table-dark">
  <thead>
    <th>Litros Pagados</th>
    <th>Monto Pagado</th>
    <th>Fecha</th>
  </thead>

  {% for pago in detalles.paga %}
</div>
    </td>
    <td>{{ pago.litros_paga }}</td>
    <td>${{ pago.monto_paga }} </td>
    <td>{{ pago.fecha_paga }}</td>
  </tr>

  {% endfor %}

</table>
    <script src="" async defer></script>
    </body>
</html>