{% load static %} <!-- Cargar etiquetas estáticas -->

<!DOCTYPE html>
<html>
<head>
    <title>Registrar Productor</title>
    <link rel="stylesheet" href="{% static 'LecheLog/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Registrar Productor</h1>
        <form method="post" action="">
            <div class="row g-3 text-center">
            {% csrf_token %}
            <table>
                
            {{ form.prod_name.label_tag }} {{ form.prod_name }}
            {{ form.prod_email.label_tag }} {{ form.prod_email }}
            {{ form.prod_phone.label_tag }} {{ form.prod_phone }}
            {{ form.prod_password.label_tag }} {{ form.prod_password }}

            <h3>Dirección</h3>
            {{ form.prod_street.label_tag }} {{ form.prod_street }}
            {{ form.prod_number.label_tag }} {{ form.prod_number }}
            {{ form.prod_city.label_tag }} {{ form.prod_city }}
            {{ form.prod_pluscode.label_tag }} {{ form.prod_pluscode }}

            </table>
            <button type="submit" class="btn btn-close-white">Registrar</button>
        </div>
        </form>
    </div>
</body>
</html>
