{% load static %} <!-- Cargar etiquetas estáticas -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <!-- Enlazar archivo CSS -->
    <link rel="stylesheet" href="{% static 'LecheLog/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body class="bg-dark">
    <div class="container">
        <img src="{% static 'LecheLog/LecheLog v2.png' %}" alt="Lechelog Logo" class="logo" style="width: 300px; height: auto;">
        <h1>Bienvenido a Lechelog</h1>
        <button class="button" onclick="location.href='inicioSesion'">INICIAR SESIÓN</button>
        <button class="button" onclick="location.href='registro'">REGISTRARSE</button>
        <button class="button" onclick="location.href='registrar'">pa probar</button>
<a href="proveedores/" class="btn btn-success">proveedores</a>
    </div>
</body>
</html>


