{% load static %} <!-- Cargar etiquetas estáticas -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prueba</title>
    <!-- Enlazar archivo CSS -->
    <link rel="stylesheet" href="{% static 'LecheLog/style.css' %}">
</head>

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Lista de Proveedores</h1>
        <table class="table table-striped table-dark">
  <thead>
    <th>Nombre</th>
    <th>Correo</th>
    <th>Teléfono</th>
    <th>Dirección</th>
    <th>Acción</th>
  </thead>

  {% for proveedor in proveedores %}
  
</div>
    </td>
    <td>{{ proveedor.name }}</td>
    <td>{{ proveedor.email }}</td>
    <td>{{ proveedor.proveedor_phone }}</td>
    <td>{{ proveedor.address.street }}, {{ proveedor.address.city }}</td>
    <td><button class="button" onclick="location.href='{{ proveedor.name }}'">detalles de paga y leche</button></td>
  </tr>

  {% endfor %}

</table>


<!--
<h1>Lista de Litros</h1>
<ul>
    {% for litro in litros %}
        <li>{{ litro.litros_leche }} litros - Fecha: {{ litro.fecha_leche }}</li>
    {% endfor %}
</ul>

<h1>Lista de Pagos</h1>
<ul>
    {% for pago in pagos %}
        <li>{{ pago.litros_paga }} litros - Monto: ${{ pago.monto_paga }} - Fecha: {{ pago.fecha_paga }}</li>
    {% endfor %}
</ul>
  -->

        <script src="" async defer></script>
    </body>
</html>